.wrapper {
  height: 100vh;
  padding: 0;
  margin: 0;
}
.AddAccount-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;

}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.div-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  border-radius: 10px;
  background-color: #f2f2f2;

}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.Account-input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc  ;
  border-radius: 3px;

}

.btn-submit {
  width: 97%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.radio-buttons input[type="radio"] {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  
}