.wrapper {
    display: flex;
    flex-direction: column;
}

.main-panel {
    flex: 1;
    padding: 20px;
    
}
.admin-container {
    display: flex;
    flex-direction: row;
    height: 80%;
    overflow: scroll;
}
.card-body {
    width: 100%;
}

.picHidden {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.page-inner {
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.user-text {
    font-size: 10px;
}

.addbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    width: fit-content;
    height: auto;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.addbutton:hover {
    background-color: rgb(37, 124, 37);
    color: white;
}

.table-responsive table {
    width: 100%;
    border: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.table-responsive th,
.table-responsive td {
    flex: 1;
    border-right: 1px solid;
    padding: 3px;
}
.btn-edit {
    padding: 10px;
    width: 70px;
    margin-left: 5px;    
    border-radius: 5px;
    cursor: pointer;
}
#btn-fix {
    background-color: rgb(96, 96, 243);
    color: white;
}
#btn-delete {
    background-color: rgb(253, 82, 82);
    color: white;
}

.admin-sidebar {
    display: block;
    background-color: #27374D;
    padding: 10px;
    width: 250px;
    height: 100%;
    border: 1px solid;
}


@media screen and (max-width: 768px) {

}