.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-panel {
    flex: 1;
}
.container-admin-table {
    margin: 20px;
}
.admin-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: scroll;
}
.card-body {
    width: 100%;
}
.body-nav-container {
    display: flex;
    background-color: #D6BD98;
}


.picHidden {
    width: 30px;
    height: 30px;
    margin: 0;
    border: 1px solid;
    background-color: white;
    padding: 0;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.container-admin-form {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.AdminHolder {
    display: flex;
    align-self: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    order: 2;
    cursor: pointer;
}
#admin-nav-name {
    order: 3;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.admin-form {
    display: flex;
    order: 1;
    padding: 10px;
    margin-right: 30px;
}
.admin-input {
    border-radius: 5px;
    margin-right: 3px;
}
.admin-submit {
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    white-space: nowrap;
}
.page-inner {
    width: 100%;
}

.card-header {
    display: flex;
    justify-content:flex-end;
    padding: 10px;
    border: 1px solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.user-text {
    font-size: 10px;
}
.ColumnName {
    width: 200px;
}

.addbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    width: fit-content;
    height: auto;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.addbutton:hover {
    background-color: rgb(37, 124, 37);
    color: white;
}

.table-responsive table {
    width: 100%;
    border: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.table-responsive th,
.table-responsive td {
    flex: 1;
    border-right: 1px solid;
    padding: 3px;
}
.btn-edit {
    padding: 10px;
    width: 70px;
    margin-left: 5px;    
    border-radius: 5px;
    cursor: pointer;
}
#btn-fix {
    background-color: rgb(96, 96, 243);
    color: white;
}
#btn-delete {
    background-color: rgb(253, 82, 82);
    color: white;
}

.admin-sidebar {
    display: block;
    background-color: #27374D;
    width: 250px;
    height: 100%;
}


@media screen and (max-width: 768px) {

}
@media screen and (max-width: 320px) {
    .AdminHolder {
        display: none;
    }
    #admin-nav-name {
        display: none;
    }
    .container-admin-form {
        justify-content: flex-start;
    }
    
}