  .content {
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 10px;
      border-radius: 20px;
      width: 60%;
      margin-left: 5px;
      margin-right: 5px;
      background-color: #B2BEB5;
      margin-top: 10px;
  }

  .slider-div {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 220px;
      margin-top: 10px;
      margin-bottom: 30px;
  }

  .HolderSlide {
      width: 100%;
      height: 200px;
  }

  span {
      font-size: 23px;
      padding: 10px;
  }

  .News_Item {
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      margin: 10px;
      padding: 7px;
      border: 1px solid;
  }

  .Pic_item {
      display: flex;
      height: auto;
      max-height: 200px;
      width: 50%;
      justify-content: center;
      margin: 5px;
      margin-left: 25%;
  }

  .text_link:hover {
      opacity: 1;
  }

  .text_div {
      margin: 5px;
  }

  .text_item {
      font-size: 25px;
  }
  .pagination {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 5px;
  }
  .pagesNum {
    flex: 1;
    display: flex;

  }
  .pagesNum a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    cursor: pointer;
    width: 20px;
    padding: 3px;
  }
  .pagesNum a:hover {
    background-color: blue;
    color: white;
  }
  .PagesButton {
    border: 1px solid;
    cursor: pointer;
  }
  .PagesButton:active {
    background-color: blue;
    color: white;
  }

  @media screen and (max-width: 768px) {
      .text_item {
          font-size: 13px;
      }

      .content {
          width: 100%;
          padding: 0;
          margin: 0;
      }
  }
  @media screen and (max-width: 320px) {
    .pagesNum a {
      font-size: 18px;
    }
}