.Edit-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    background-color: #EEEEEE;
    
}

.shower-container {
    display: flex;
    justify-content: space-between;
}
.shower-container div {
    margin-top: 10px;
}

.user-select {
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    width: 300px;
}

.shower-container div span {
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    margin-left: 5px;
}
.shower-container span:hover {
    background-color: rgb(252, 185, 97);
}

.editor-container {
    flex: 1;
    display: flex;
}

.main-user-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.hint-container {
    border: 1px solid;
    width: 100%;
}

.picHint {
    display: flex;
    width: 40px;
    
}

.Editor-aside {
    border: 1px solid;
    width: 250px;
    background-color: #686D76;
}

#container {
    min-height: 100vh;
    width: 100%
}

.create-blog {
    width: fit-content;
    flex: 1;
    padding: 10px;
    border: 1px solid;

}

.input-layout {
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    width: 50%;
}

.EvenName input {
    display: flex;
}

.radio-container {
    display: flex;
    flex-direction: column;
}

.radio-div {
    display: flex;
    width: fit-content;
}

.radio-container input {
    margin: 5px;
    margin-left: 10px;
}

.editor {
    flex: 1;
}

.btn-post {
    padding: 10px;
    width: fit-content;
    margin: auto;

}

.btn-post button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;

}

.btn-post span {
    font-size: 15px;
}


.file-select {
    width: 300px;
    border: 1px solid;
    padding: 5px;
    height: fit-content;
    margin-left: 3px;

}

.file-select input {
    overflow-x: scroll;
}

.file-selector {
    cursor: pointer; 
    padding: 10px;
    background-color: blanchedalmond; 
    border-radius: 5px;
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.file-item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-Radius: 5px;
    border: 1px solid;
    justify-content: space-around;
}

.file-Name {
    margin-left: 10px; 
    width: 70%;
    overflow-x: scroll; 
    scrollbar-width : none;
}

.delete-icon {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .editor-container {
        flex: 1;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .editor {
        width: 320px;
    }
}