.Admin-NewsImage div{
  width: fit-content;
  display: flex;
  align-items: center;
}

.Admin-NewsImage  div button {
  display: flex;
  height: fit-content;
  border: 1px solid;
  padding: 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  
}
.Admin-NewsImage div img {
  width: 150px;
}
.Admin-NewsName input {
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  width: 50%;
}