.Event-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
    background-color: #EEEEEE;
}
.Event-sidebar {
    background-color: #3f5064;
}

.Event-main-panel {
    height: 100%;
    flex: 1;
}

.Event-form {
    display: flex;
    white-space: nowrap;
    height: 100%;
}

.Event-input {
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3px;
}

.Event-picHidden {
    display: flex;
    width: 40px;
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
}

.Event-body-nav-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(155, 128, 74);
}

.Event-items {
    display: flex;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    flex-direction: row;
    width: fit-content;
}
.Event-image {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.Event-info-container {
    display: flex;
    flex-direction: column;
}
.info-Event {
    display: flex;
    justify-content: space-between;

}
.Event-Description span {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}
.info-title-Event span {
    font-size: 15px;
    max-width: 100%;
    min-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: blue;
    cursor: pointer;
    font-weight: bold;
}
.header-table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-Event span {
    font-style: italic;
    opacity: 0.65;
    font-size: 13px;
}

.Event-AddNews {
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    width: 100px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    border-color:blue;
}
.Event-AddNews:hover {
    background-color:  rgb(71, 71, 252);
    color: white;
}

.Event-AddLocation {
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    width: 100px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    border-color:brown;
}
.Event-AddLocation:hover {
    background-color: rgb(165, 69, 69);
    color: white;
}

.Event-button {
    margin: auto;
}

.Event-input-layout {
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    width: 170px;
    font-size: 18px;
    order: -1;
}

.Event-button button {
    display: flex;
    justify-content: center;
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}


.Event-table th,
.Event-table td {
    width: fit-content;
    text-align: center;
    padding: 10px;
    border: 1px solid;

}