.semi-header {
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
    flex-direction: row;
    background-color: #D3D3D3;
}

.semi-nav {
    display: flex;
    background-color: #B2BEB5;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.semi-resize-button {
    display: none;
    position: relative;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 3px;
    width: 30px;
    height: auto;
}

.semi-nav-div-block {
    width: 100%;
    padding: 10px;
    display: flex;

}
.semi-nav-div-block b {
    margin-left: 5%;
}

.semi-nav-a {
    padding: 5px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 20px;
}

.semi-avatar-container {
    width: 150px;
    display: flex;
    flex-direction: column;
}
.semi-avatar-inner{
    display: flex;
}

.semi-avatar-container .semi-avatar-inner span {
    font-size: 15px;
    order: 2;
    color: blue;
    display: flex;
    float: right;
    height: 100%;
    align-content: center;
}
.semi-UserHolder {
    order: 1;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
}
.semi-avatadrop {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    position: absolute;
    top: 50px;
    width: 125px;
    background-color: lightgray;
}
.semi-avatadrop span {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.semi-avatadrop span a {
    text-decoration: none;
    color: black;
}
.semi-avatadrop span:hover {
    background-color: blue;
    color: white;
}

.semi-nav-search {
    display: flex;
    border: 2px solid;
    width: 200px;
}
.semi-formSearch {
    width: 230px;
    padding-top: 10px;
    display: flex;
}
.semi-nav_input_text {
    width: 150px;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
}
.semi-nav_btn_search {
    margin-left: 3px;
    width: 80px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: #6699CC;
    color: black;
    border-radius: 20px;
}

.semi-dropdown-menu {
    display: none;
    justify-content: center;
    position: absolute;
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: fit-content;
    border-radius: 10px;
}

.semi-drop-a {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#semi-drop {
    padding: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: 1px solid blue;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
    white-space: nowrap;
    margin-right: 2px;
}
#semi-drop:hover {
    background-color: blue;
    color: white;
}
.semi-nav-a2 {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 90%;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

.semi-nav-a2:hover {
    background-color: rgb(82, 82, 243);
    opacity: 1;
}

.semi-nav-a:hover {
    background-color: #D3D3D3;
}


@media screen and (max-width: 768px) {
    .semi-nav-div-block {
      display: none;
    }
    .semi-resize-button {
      display: flex;
    }
    .semi-formSearch {
        display: flex;
    }
    .semi-resize-nav {
        display: flex;
    }
    #semi-drop {
        display: flex;
    }
}
@media screen and (max-width: 320px) {
    #semi-drop {
        margin-left: 3px;
        margin-right: 3px;
        font-size: 10px;
        white-space: nowrap;
    }
    .semi-nav_input_text {
        width: 140px;
    }
    .semi-nav_btn_search {
        width: 70px;
        white-space: nowrap;
    }
}