html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Add-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #EEEEEE;
    
}

.main-NewsAdd-container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.NewsAdd-container {
    flex: 1;
    display: flex;
    overflow-x: scroll;
}

.NewsAdd-aside {
    border: 1px solid;
    width: 250px;
    background-color: #686D76;
}